{% extends 'admin/base.html' %}
{% load static %}

{% block content %}
<style>
  /* The Modal (background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>

<style>
  /* The Modal (background) */
  .modal1 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content1 {
    background-color: #fefefe;
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
  }

  /* The Close Button */
  .close1 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close1:hover,
  .close1:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>


<div id="page-wrapper">

  <div class="header">
    <h1 class="page-header">
      Tables Page
    </h1>
    <ol class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">Tables</a></li>
      <li class="active">Data</li>
    </ol>

  </div>



  <div id="page-inner">

    <div class="row">
      <div class="col-md-12">
        <!-- Advanced Tables -->
        <div class="card">

          <div class="card-content">
            <div>
              <div class="row">
                <h2 style="padding-left: 450px; margin-bottom: 20px;">Category Offer</h2>
                {% for category in categories %}
                <div class="col-md-3">
                  <div class="card"
                    style="width: 20rem; height: 11rem; background-color: rgb(80, 79, 79); color: honeydew; border-radius: 10px;">
                    <div class="card-body">

                      <h6 style="padding: 3px;">Name:<span style="padding-left: 25px;">{{category.cat_name}}</span></h6>
                      <h6 class="card-subtitle mb-2 text-muted" style="color: honeydew; padding-left: 5px;">Offer<label
                          style="padding-left: 35px;">{{category.offer}}</label></h6>

                     
                      <a href="{% url 'cat_offer' category.id %}"><button class="btn" style="margin-left: 7px; background-color: lightseagreen; border-radius: 10px;"><i
                          class="far fa-edit"></i></button></a>

                      

                    </div>
                  </div>
                </div>
                {% endfor %}
              </div><br><br><br>

              <h2 style="padding-left: 450px; margin-bottom: 20px;">Product Offer</h2>
              <div class="row">
                {% for product in products %}
                <div class="col-md-3">
                  <div class="card"
                    style="width: 20rem; height: 11rem; background-color: rgb(80, 79, 79); color: honeydew; border-radius: 10px;">
                    <div class="card-body">

                      <h6 style="padding: 7px;">Name:<span style="padding-left: 25px;">{{product.product_name}}</span>
                      </h6>
                      <h6 class="card-subtitle mb-2 text-muted" style="padding-left: 5px; color: white;">Offer<label
                          style="padding-left: 35px;">{{product.offer}}</label></h6>

                    
                      <a href="{% url 'pro_offer' product.id %}"><button class="btn" style=" margin-left: 7px; background-color: lightseagreen; border-radius: 10px;"><i
                          class="far fa-edit"></i></button></a>

                    </div>

                  </div>
                </div>
                {% endfor %}
              </div>
              <h2 style="padding-left: 450px; margin-top: 20px;">Coupon Offer</h2>
              {% for coupon in coupons %}
              <div class="row">
                <div class="col-sm-2">
                  <div class="card" style="margin-top: 40px; background-color: rgb(104, 134, 136); width: 18rem; height: 14rem; border-radius: 10px;">
                    <div class="card-body">
                      <h5 class="card-title" style="padding-left: 5px;">{{coupon.code}}</h5>
                      <p class="card-text" style="padding-left: 5px;">{{coupon.dis}}% OFF</p>
                      <div style="margin-left: 120px;">
                        <a href="{% url 'deletecoupon' coupon.id %}"><button class="btn" style="background-color: lightseagreen;"><i class="far fa-trash-alt"></i></button></a>
                      </div>
                    </div>
                  </div>
                </div>


                {% endfor %}
                <div style="margin-top: 40px; margin-left: 200px;">
                  <a href="{% url 'addcoupon' %}" class="btn btn-primary">Add Coupon</a>
                </div>


              </div>
            </div>

          </div>
        </div>
        <!--End Advanced Tables -->

        <!--  end  Context Classes  -->
      </div>
    </div>
  </div>
</div>


<script src="{% static 'user/libs/jquery/jquery.min.js' %}"></script>

<script>
  // Get the modal
  var modal = document.getElementById("myModal");

  // Get the button that opens the modal
  var btn = document.getElementById("myBtn");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks on the button, open the modal
  function press() {
    modal.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function () {
    modal.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }

</script>

<script>
  // Get the modal
  var modal1 = document.getElementById("myModal1");

  // Get the button that opens the modal
  var btn1 = document.getElementById("myBtn1");

  // Get the <span> element that closes the modal
  var span1 = document.getElementsByClassName("close1")[0];

  // When the user clicks on the button, open the modal
  function press1() {
    modal1.style.display = "block";
  }

  // When the user clicks on <span> (x), close the modal
  span1.onclick = function () {
    modal1.style.display = "none";
  }

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function (event) {
    if (event.target == modal1) {
      modal1.style.display = "none";
    }
  }

</script>

{% endblock %}