{% load static %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Panel</title> 
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'admin/materialize/css/materialize.min.css' %}" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="{% static 'admin/css/bootstrap.css' %}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{% static 'admin/css/font-awesome.css' %}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="{% static 'admin/js/morris/morris-0.4.3.min.css' %}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{% static 'admin/css/custom-styles.css' %}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="{% static 'admin/js/Lightweight-Chart/cssCharts.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
    
</head>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand waves-effect waves-dark" href=""><i class="large material-icons">track_changes</i> <strong>furnitica</strong></a>
				
		<div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
            </div>

            <ul class="nav navbar-top-links navbar-right"> 
                <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i class="fa fa-user fa-fw"></i> <b>admin</b> <i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </nav>
		<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
<li><a href="#"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
</li>
</ul>
	   <!--/. NAV TOP  -->
	   <nav class="navbar-default navbar-side" role="navigation">
		<div class="sidebar-collapse">
			<ul class="nav" id="main-menu">

				<li>
					<a href="{% url 'ad_home' %}" class="waves-effect waves-dark"><i class="fa fa-desktop"></i> Dashboard</a>
				</li>
				<li>
					<a href="{% url 'usermanage' %}" class="waves-effect waves-dark"><i class="fa fa-table"></i>User Management</a>
				</li>
				<li>
					<a href="{% url 'productmanage' %}" class="waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i>Product Management</a>
				</li>
				<li>
					<a href="{% url 'categorymanage' %}" class="waves-effect waves-dark"><i class="fa fa-qrcode"></i>Category Management</a>
				</li>
				
				<li>
					<a href="{% url 'ordermanage' %}" class="waves-effect waves-dark"><i class="fa fa-table"></i>Order Management</a>
				</li>
                <li>
					<a href="{% url 'ad_offer' %}" class="waves-effect waves-dark"><i class="fa fa-table"></i>Offer Management</a>
				</li>
                <li>
					<a href="{% url 'report' %}" class="waves-effect waves-dark"><i class="fa fa-table"></i>Reports</a>
				</li>
                <li><br><br><br><br>
					<a href="{% url 'adminlogout' %}" class="waves-effect waves-dark">Logout</a>
				</li>
		
			</ul>

		</div>

	</nav>
        <!-- /. NAV SIDE  -->
		{% block content %}
		
   
				{% endblock %}
		
				
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
   <!-- <script src="{% static 'admin/js/jquery-1.10.2.js' %}"></script> -->
	
	<!-- Bootstrap Js -->
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
	
	<script src="{% static 'admin/materialize/js/materialize.min.js' %}"></script>
	
    <!-- Metis Menu Js -->
    <script src="{% static 'admin/js/jquery.metisMenu.js' %}"></script>
    <!-- Morris Chart Js -->
    <script src="{% static 'admin/js/morris/raphael-2.1.0.min.js' %}"></script>
    <script src="{% static 'admin/js/morris/morris.js' %}"></script>
	

	
	<script src="{% static 'admin/js/easypiechart.js' %}"></script>
	<script src="{% static 'admin/js/easypiechart-data.js' %}"></script>
	
	 <script src="{% static 'admin/js/Lightweight-Chart/jquery.chart.js' %}"></script>
	
    <!-- Custom Js -->
    <script src="{% static 'admin/js/custom-scripts.js' %}"></script> 

    
 

</body>

</html>