{% extends 'admin/base.html' %}

{% load static %}

{% block content %}

<div id="page-wrapper" style="background-color: white">
	<div class="header">
        <h1 class="page-header">
            
        </h1>
        <ol class="breadcrumb">
            
        </ol>

    </div>
	<div id="page-inner">
		<div class="dashboard-cards">
			<div class="row">

				<div class="col-xs-12 col-sm-6 col-md-3">

					<div class="card horizontal cardIcon waves-effect waves-dark">
						<div class="card-image orange">
							<i class="material-icons dp48">shopping_cart</i>
						</div>
						<div class="card-stacked orange">
							<div class="card-content">
								<h3>{{orders}}</h3>
							</div>
							<div class="card-action">
								<strong>Orders</strong>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">

					<div class="card horizontal cardIcon waves-effect waves-dark">
						<div class="card-image blue">
							<i class="material-icons dp48">equalizer</i>
						</div>
						<div class="card-stacked blue">
							<div class="card-content">
								<h3>Rs. {{total}}</h3>
							</div>
							<div class="card-action">
								<strong>SALES</strong>
							</div>
						</div>
					</div>

				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">

					<div class="card horizontal cardIcon waves-effect waves-dark">
						<div class="card-image green">
							<i class="material-icons dp48">supervisor_account</i>
						</div>
						<div class="card-stacked green">
							<div class="card-content">
								<h3>{{users}}</h3>
							</div>
							<div class="card-action">
								<strong>USERS</strong>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="row">
			<div style="margin-top: 200px;">
				<div class="col-md-12">
					<div class="col-md-6" style="padding-top: 50px;"><canvas id="myChart"></canvas></div>
					<div class="col-md-4"></div>
					<div class="col-md-4"><canvas id="myPie"></canvas>

					</div>
				</div>

			</div>




		</div>
	</div>
</div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>

	var ctx = document.getElementById('myChart').getContext('2d');

	var myChart = new Chart(ctx, {
		type: 'bar',
		data: {
			labels: ['Placed', 'Shipped', 'Delivery'],
			datasets: [{
				label: '# of order list',
				data: ["{{order_placed|safe}}", "{{order_shipped|safe}}", "{{order_delivered|safe}}"],
				backgroundColor: [
					'rgba(255, 99, 132, 0.8)',
					'rgba(54, 162, 235, 0.8)',
					'rgba(255, 206, 86, 0.8)',
					'rgba(75, 192, 192, 0.8)',
					'rgba(153, 102, 255, 0.8)',
					'rgba(255, 159, 64, 0.8)'
				],
				borderColor: [
					'rgba(255, 99, 132, 1)',
					'rgba(54, 162, 235, 1)',
					'rgba(255, 206, 86, 1)',
					'rgba(75, 192, 192, 1)',
					'rgba(153, 102, 255, 1)',
					'rgba(255, 159, 64, 1)'
				],
				borderWidth: 1
			}]
		},
		options: {
			scales: {
				y: {
					beginAtZero: true
				}
			}
		}
	});


</script>
<script>

	var ctx = document.getElementById('myPie').getContext('2d');

	var myChart = new Chart(ctx, {
		type: 'pie',
		data: {
			labels: ['Placed', 'Shipped', 'Delivered'],
			datasets: [{
				label: '# of order list',
				data: ["{{order_placed|safe}}", "{{order_shipped|safe}}", "{{order_delivered|safe}}"],
				backgroundColor: [
					'rgba(255, 99, 132, 0.8)',
					'rgba(54, 162, 235, 0.8)',
					'rgba(255, 206, 86, 0.8)',
					'rgba(75, 192, 192, 0.8)',
					'rgba(153, 102, 255, 0.8)',
					'rgba(255, 159, 64, 0.8)'
				],
				borderColor: [
					'rgba(255, 99, 132, 1)',
					'rgba(54, 162, 235, 1)',
					'rgba(255, 206, 86, 1)',
					'rgba(75, 192, 192, 1)',
					'rgba(153, 102, 255, 1)',
					'rgba(255, 159, 64, 1)'
				],
				borderWidth: 1
			}]
		},
		options: {
			scales: {
				y: {
					beginAtZero: true
				}
			}
		}
	});


</script>
{% endblock %}